<mat-toolbar>
  <mat-toolbar-row>
    <button class="title" mat-raised-button (click)="reload()">Site Crawler</button>
    <button mat-raised-button [routerLink]="['/setting']">站点管理</button>

    <app-header-search [sites]="sites" [selectedSites]="selectedSites" (selectedSitesChange)="selectedSitesChange($event)"></app-header-search>

    <span class="spacer"> </span>
    <button mat-button (click)="taskUpdate()">{{ updateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</button>
  </mat-toolbar-row>
</mat-toolbar>