.articles {
    .item {
        display: flex;
        align-items: center;
        min-height: 8em;

        .left {
            flex: 0 0 12em;
            text-align: center;

            img {
                height: 6em;
                max-width: 6em;
            }
        }
        .right {
            flex: 1;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header {
                display: flex;
                margin-bottom: 2em;
                justify-content: space-between;

                .time {
                    font-size: 0.8em;
                    margin-right: 0.8em;
                }

                a {
                    font-size: 1.2em;
                    font-weight: bolder;
                    color: #2196f3;
                    text-decoration: none;
                }
            }

            .intro {
                font-size: 0.8em;
            }
        }
    }

    hr {
        border: 0;
        border-top: 1px solid #eee;
    }
}
