<form class="site-form" [formGroup]="formGroup" novalidate>
  <mat-form-field>
    <input matInput placeholder="站点名称" formControlName="site">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="描述" formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="链接" formControlName="href">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="3" placeholder="requestOptions" formControlName="requestOptions"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="sitemap" formControlName="sitemap"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="5" placeholder="transform" formControlName="transform"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="3" placeholder="nextPageRequestOptions" formControlName="nextPageRequestOptions"></textarea>
  </mat-form-field>

  <mat-checkbox formControlName="isShowArticle">显示文章</mat-checkbox>
  <mat-checkbox formControlName="isCrawler">采集文章</mat-checkbox>

  <div class="action">
    <button mat-raised-button [routerLink]="['../']">返回</button>
    <button mat-raised-button [disabled]="formGroup.invalid" (click)="save()">保存</button>
    <button mat-raised-button (click)="preview()">预览</button>
    <button mat-raised-button (click)="delete()">删除</button>
  </div>
</form>