<mat-form-field class="search" floatLabel="never">
  <input matInput type="text" placeholder="搜索内容" [(ngModel)]="searchValue" (keyup)="inputKeyup($event)">
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field class="site-select" floatLabel="never">
  <mat-select placeholder="搜索范围" [multiple]="true" [value]="selectedSites" (selectionChange)="selectionChange($event)">
    <mat-option *ngFor="let site of sites" [value]="site">{{site}}</mat-option>
  </mat-select>
</mat-form-field>