<div class="articles">
  <div *ngFor="let article of articles">
    <div class="item">
      <div class="left">
        <img [src]="article.img" alt="article.title">
      </div>
      <div class="right">
        <div class="header">
          <div class="title">
            <a [href]="article.href" target="_blank">[{{article.site}}]{{article.title}}</a>
          </div>
          <div class="time">{{article.gatherTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
        <div class="intro">
          {{article.intro}}
        </div>
      </div>
    </div>
    <div>
      <hr>
    </div>
  </div>
</div>