<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button class="tool" mat-raised-button [routerLink]="['/']">返回</button>
<button class="tool" mat-raised-button [routerLink]="['/setting', 'add']">添加</button>
<a class="tool" mat-raised-button [href]="exportUrl">导出</a>
<button class="tool" mat-raised-button (click)="toggle()">导入</button>


<mat-grid-list cols="5" *ngIf="isShowImport">
  <mat-grid-tile colspan="4">
    <mat-form-field class="import-field">
      <textarea rows="10" placeholder="JSON" [(ngModel)]="sitesImport" matInput></textarea>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <button mat-button (click)="importSites()">确定</button>
  </mat-grid-tile>
</mat-grid-list>

<div class="site-list">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef> 名称 </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button [routerLink]="['/setting/', row.id]">{{row.site}}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> 简介 </th>
      <td mat-cell *matCellDef="let row">
        <a [href]="row.href">{{row.description}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> 采集时间 </th>
      <td mat-cell *matCellDef="let row"> {{row.latestCrawlerTime | date: 'yy-MM-dd HH:mm:ss'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>